
@font-face{
	font-family: 'Helvetica-Light';
	src: url('/catalog/view/theme/default/fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
}


@font-face{
	font-family: 'Font Awesome Regular';
	src: url('/catalog/view/theme/default/fonts/10152.ttf') format('truetype');
}

@font-face{
	font-family: 'Helvetica-Bold';
	src: url('/catalog/view/theme/default/fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
}

@font-face{
	font-family: 'Helvetica-Medium';
	src: url('/catalog/view/theme/default/fonts/HelveticaNeueCyr-Medium.ttf') format('truetype');
}



::selection {
    background-color: #d8edea;
}

body {
	font-family: 'Helvetica-Light', sans-serif;
	font-weight: 400;
	color: #666;
	font-size: 12px;
	line-height: 20px;
	width: 100%;
}
h1, h2, h3, h4, h5, h6 {
	color: #444;
}
/* default font size */
.fa {
	font-size: 14px;
}
/* Override the bootstrap defaults */
h1 {
	font-size: 33px;
}
h2 {
	font-size: 27px;
}
h3 {
	font-size: 21px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10.2px;
}
a {
	color: #23a1d1;
}
a:hover {
	text-decoration: none;
}
legend {
	font-size: 18px;
	padding: 7px 0px
}
label {
	font-size: 12px;
	font-weight: normal;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 12px;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 12px;
}
.input-group .input-group-addon {
	font-size: 12px;
	height: 30px;
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}

.nav-tabs {
	margin-bottom: 15px;
}
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
	text-decoration: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
/* top */
#top {
background-color: transparent;
    border-bottom: none;
    padding: 4px 0px 3px 0;
    margin: 20px 0 20px 0;
	min-height: 40px;
}
#top .container {
	padding: 0 20px;
}
#top #form-currency .currency-select,
#top #form-language .language-select {
	text-align: left;
}
#top #form-currency .currency-select:hover,
#top #form-language .language-select:hover {
	text-shadow: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#top .btn-link, #top-links li, #top-links a {
	color: #888;
	text-shadow: 0 1px 0 #FFF;
	text-decoration: none;
}
#top .btn-link:hover, #top-links a:hover {
	color: #444;
}
#top-links .dropdown-menu a {
	text-shadow: none;
}
#top-links .dropdown-menu a:hover {
	color: #FFF;
}
#top .btn-link strong {
	font-size: 14px;
        line-height: 14px;
}
#top-links {
	padding-top: 6px;
}
/* logo */
#logo {
    margin: 25px 0 10px 0;
}
/* search */
#search {
	margin-bottom: 10px;
}
#search .input-lg {
	height: 40px;
	line-height: 20px;
	padding: 0 10px;
}

.btn-search:focus {
    box-shadow: none;
    outline: none;
    background: transparent;
}

#search .btn-lg {
	font-size: 15px;
	line-height: 18px;
	padding: 10px 8px;
	text-shadow: 0 1px 0 #FFF;
}
/* cart */
#cart {
	margin-bottom: 10px;
}
#cart > .btn {
	font-size: 12px;
	line-height: 18px;
	color: #FFF;
}
#cart.open > .btn {
	background-image: none;
	background-color: #FFFFFF;
	border: 1px solid #E6E6E6;
	color: #666;
	box-shadow: none;
	text-shadow: none;
}
#cart.open > .btn:hover {
	color: #444;
}
#cart .dropdown-menu {
	background: #eee;
	z-index: 1001;
}
#cart .dropdown-menu {
	min-width: 100%;
}
@media (max-width: 478px) {
	#cart .dropdown-menu {
		width: 100%;
	}
}
#cart .dropdown-menu table {
	margin-bottom: 10px;
}
#cart .dropdown-menu li > div {
	min-width: 427px;
	padding: 0 10px;
}
@media (max-width: 478px) {
	#cart .dropdown-menu li > div {
		min-width: 100%;
	}
}
#cart .dropdown-menu li p {
	margin: 20px 0;
}
/* menu */
#menu {
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
	min-height: 40px;
}
#menu .nav > li > a {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	padding: 10px 15px 10px 15px;
	min-height: 15px;
	background-color: transparent;
}
#menu .nav > li > a:hover, #menu .nav > li.open > a {
	background-color: rgba(0, 0, 0, 0.1);
}
#menu .dropdown-menu {
	padding-bottom: 0;
}
#menu .dropdown-inner {
	display: table;
}
#menu .dropdown-inner ul {
	display: table-cell;
}
#menu .dropdown-inner a {
	min-width: 160px;
	display: block;
	padding: 3px 20px;
	clear: both;
	line-height: 20px;
	color: #333333;
	font-size: 12px;
}
#menu .dropdown-inner li a:hover {
	color: #FFFFFF;
}
#menu .see-all {
	display: block;
	margin-top: 0.5em;
	border-top: 1px solid #DDD;
	padding: 3px 20px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 3px 3px;
	font-size: 12px;
}
#menu .see-all:hover, #menu .see-all:focus {
	text-decoration: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#menu #category {
	float: left;
	padding-left: 15px;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
#menu .btn-navbar {
	font-size: 15px;
	font-stretch: expanded;
	color: #FFF;
	padding: 2px 18px;
	float: right;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
}
#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] {
	color: #ffffff;
	background-color: #229ac8;
}
@media (min-width: 768px) {
	#menu .dropdown:hover .dropdown-menu {
		display: block;
	}
}
@media (max-width: 767px) {
	#menu {
		border-radius: 4px;
	}
	#menu div.dropdown-inner > ul.list-unstyled {
		display: block;
	}
	#menu div.dropdown-menu {
		margin-left: 0 !important;
		padding-bottom: 10px;
		background-color: rgba(0, 0, 0, 0.1);
	}
	#menu .dropdown-inner {
		display: block;
	}
	#menu .dropdown-inner a {
		width: 100%;
		color: #fff;
	}
	#menu .dropdown-menu a:hover,
	#menu .dropdown-menu ul li a:hover {
		background: rgba(0, 0, 0, 0.1);
	}
	#menu .see-all {
		margin-top: 0;
		border: none;
		border-radius: 0;
		color: #fff;
	}
}
/* content */
#content {
	min-height: 600px;
}
/* footer */
footer {
    margin-top: 30px;
    padding-top: 90px;
    background-color: #e5e4e0;
    border-top: none;
    color: #25282b;
    padding-bottom: 35px;
}
footer hr {
	border-top: none;
	border-bottom: 1px solid #666;
}
footer a {
	color: #ccc;
}
footer a:hover {
	color: #fff;
}
footer h5 {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
}
/* alert */
.alert {
	padding: 8px 14px 8px 14px;
}
/* breadcrumb */
.breadcrumb {
    margin: 0 0 20px 0;
    padding: 0px 0;
    border: none;
    background: transparent !important;
}
.breadcrumb i {
	font-size: 15px;
}

.breadcrumb > li {
    text-shadow: none;
    padding: 0 20px;
    position: relative;
    white-space: nowrap;
}

.breadcrumb > li:first-child {
    padding: 0px 20px 0px 0px;
}

.breadcrumb li a {
    color: #8e99a2;
    font-size: 16px;
    font-family: "Helvetica-light";
    font-weight: 500;
}




.breadcrumb > li + li:before {
	content: '';
	padding: 0;
}


.breadcrumb > li:after {
    content: '';
    display: block;
    position: absolute;
    top: -3px;
    right: -5px;
    width: 26px;
    height: 26px;
    background-image: url(/image/catalog/arrow-right.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 94%;
}

.breadcrumb > li:first-child:after {
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    right: -5px;
    width: 26px;
    height: 26px;
    background-image: url(/image/catalog/arrow-right.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 94%;
}

.img-home-bread {
    position: relative;
    top: -2px;
}

.breadcrumb > li:last-child:after {
    content: '';
    display: none;
}


.breadcrumb > li:last-child a {
	color: #54595e;
	font-weight: bold;
}


.pagination {
	margin: 0;
}
/* buttons */
.buttons {
	margin: 1em 0;
}
.btn {
	padding: 7.5px 12px;
	font-size: 12px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn-xs {
	font-size: 9px;
}
.btn-sm {
	font-size: 10.2px;
}
.btn-lg {
	padding: 10px 16px;
	font-size: 15px;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
	font-size: 12px;
}
.btn-group > .btn-xs {
	font-size: 9px;
}
.btn-group > .btn-sm {
	font-size: 10.2px;
}
.btn-group > .btn-lg {
	font-size: 15px;
}
.btn-default {
	color: #777;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #e7e7e7;
	background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
	background-repeat: repeat-x;
	border-color: #dddddd #dddddd #b3b3b3 #b7b7b7;
}
.btn-primary {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-color: #1f90bb;
	background-position: 0 -15px;
}
.btn-warning {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #da4f49;
	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-repeat: repeat-x;
	border-color: #bd362f #bd362f #802420;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-success {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #df5c39;
	background-image: linear-gradient(to bottom, #e06342, #dc512c);
	background-repeat: repeat-x;
	border-color: #dc512c #dc512c #a2371a;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	background-image: none;
	background-color: #df5c39;
}
.btn-link {
	border-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	color: #23A1D1;
	border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	box-shadow: none;
}
.btn-inverse {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #363636;
	background-image: linear-gradient(to bottom, #444444, #222222);
	background-repeat: repeat-x;
	border-color: #222222 #222222 #000000;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
	background-color: #222222;
	background-image: linear-gradient(to bottom, #333333, #111111);
}
/* list group */
.list-group a {
	border: 1px solid #DDDDDD;
	color: #888888;
	padding: 8px 12px;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
	color: #444444;
	background: #eeeeee;
	border: 1px solid #DDDDDD;
	text-shadow: 0 1px 0 #FFF;
}
/* carousel */
.carousel-caption {
	color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
}
.carousel-control .icon-prev:before {
	content: '\f053';
	font-family: FontAwesome;
}
.carousel-control .icon-next:before {
	content: '\f054';
	font-family: FontAwesome;
}
/* product list */
.product-thumb {
	border: 1px solid #ddd;
	margin-bottom: 20px;
	overflow: auto;
}
.product-thumb .image {
	text-align: center;
}
.product-thumb .image a {
	display: block;
}
.product-thumb .image a:hover {
	opacity: 0.8;
}
.product-thumb .image img {
	margin-left: auto;
	margin-right: auto;
}
.product-grid .product-thumb .image {
	float: none;
}
@media (min-width: 767px) {
.product-list .product-thumb .image {
	float: left;
	padding: 0 15px;
}
}
.product-thumb h4 {
	font-weight: bold;
}
.product-thumb .caption {
	padding: 0 20px;
	min-height: 180px;
}
.product-list .product-thumb .caption {
	margin-left: 230px;
}
@media (max-width: 1200px) {
.product-grid .product-thumb .caption {
	min-height: 210px;
	padding: 0 10px;
}
}
@media (max-width: 767px) {
.product-list .product-thumb .caption {
	min-height: 0;
	margin-left: 0;
	padding: 0 10px;
}
.product-grid .product-thumb .caption {
    min-height: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}
}
.product-thumb .rating {
	padding-bottom: 10px;
}
.rating .fa-stack {
	font-size: 8px;
}
.rating .fa-star-o {
	color: #999;
	font-size: 15px;
}
.rating .fa-star {
	color: #FC0;
	font-size: 15px;
}
.rating .fa-star + .fa-star-o {
	color: #E69500;
}
h2.price {
	margin: 0;
}
.product-thumb .price {
	color: #444;
}
.product-thumb .price-new {
	font-weight: 600;
}
.product-thumb .price-old {
	color: #999;
	text-decoration: line-through;
	margin-left: 10px;
}
.product-thumb .price-tax {
	color: #999;
	font-size: 12px;
	display: block;
}
.product-thumb .button-group {
	border-top: 1px solid #ddd;
	background-color: #eee;
	overflow: auto;
}
.product-list .product-thumb .button-group {
	border-left: 1px solid #ddd;
}
@media (max-width: 768px) {
	.product-list .product-thumb .button-group {
		border-left: none;
	}
}
.product-thumb .button-group button {
	width: 60%;
	border: none;
	display: inline-block;
	float: left;
	background-color: #eee;
	color: #888;
	line-height: 38px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
.product-thumb .button-group button + button {
	width: 20%;
	border-left: 1px solid #ddd;
}
.product-thumb .button-group button:hover {
	color: #444;
	background-color: #ddd;
	text-decoration: none;
	cursor: pointer;
}
@media (max-width: 1200px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
@media (max-width: 767px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
/* .thumbnails {
	overflow: auto;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
}
.thumbnails > li {
	margin-left: 20px;
}
.thumbnails {
	margin-left: -20px;
}
.thumbnails > img {
	width: 100%;
} */
/* .image-additional a {
    margin-bottom: 20px;
    padding: 0px;
    border: none;
} */

/* .thumbnails .image-additional {
	float: left;
	margin-left: 20px;
} */

.item-plan-title {
    font-size: 18px;
    font-family: "Helvetica-bold";
    color: #25282b;
}

.icon-plan-idea {
    position: relative;
    top: -2px;
}

.item-desc-plan {
    font-family: "Helvetica-Light";
    font-size: 18px;
    line-height: 1.8;
}

.plan-block-grey {
    background-image: url(/image/catalog/static/home/1.jpg);
    min-height: 241px;
    max-height: 241px;
    padding: 20px;
}

.plan-block-blue {
    background-image: url(/image/catalog/static/home/2.jpg);
    min-height: 241px;
    max-height: 241px;
    padding: 20px;
}

.item-block-plan {
    margin-bottom: 35px;
    background-repeat: no-repeat;
}

.reklama-block {
    background-color: #e7f0f0;
    height: 512px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #25282b;
    font-family: "Helvetica-Bold";
    margin-right: -15px;
}

.title-how-section {
    color: #25282b;
    font-family: "Helvetica-Bold";
    font-size: 32px;
    margin-bottom: 12px;
}

.subtitle-how-section {
    font-size: 18px;
    font-family: "Helvetica-Light";
    color: #25282b;
}

.block-title-how {
    margin-bottom: 90px;
}

.img-vendor {
    width: 100%;
}

.block-vendor-item {
    position: relative;
    margin-bottom: 30px;
	overflow: hidden;
}

.name-vendor {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    font-size: 24px;
    font-family: "Helvetica-bold";
    color: #fff;
    padding: 25px 25px 15px;
    line-height: 1.2;
    background-color: #33333373;
    left: 0;
    right: 0;
    height: 100%;
}

.block-vendor-title {
    margin-top: 45px;
    margin-bottom: 80px;
}

.block-zayavka {
    min-height: 556px;
    background-image: url(/image/catalog/static/home/vendor/obyavlenie_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name-zayavka {
    font-size: 16px;
    font-family: "Helvetica-bold";
    color: #25282b;
    line-height: 1.5;
}

.search-veduch {
    font-size: 24px;
    font-family: "Helvetica-bold";
    color: #25282b;
    line-height: 1.2;
}

.search-subblock {
    font-size: 18px;
    color: #25282b;
    font-family: "Helvetica-Light";
    margin-top: 15px;
    display: block;
}

.podat-zayavku {
    font-size: 14px;
    font-family: "Helvetica-bold";
    color: #fff;
    background-color: #43476b;
    border: none;
    padding: 8px 0px 29px;
    width: 160px;
    box-shadow: none;
    height: 39px;
    position: relative;
    top: -1px;
    transition: all 0.2s ease-in;
    border: 2px solid #43476b;
}

.link-title:hover {
    text-decoration: underline;
}

.podat-zayavku:hover {
    color: #43476b;
    background-color: transparent;
    border: 2px solid #43476b;
}

.numb-zvern {
    background-image: url(/image/catalog/static/home/vendor/msg.png);
    font-size: 16px;
    font-family: "Helvetica-bold";
    color: #25282b;
    width: 39px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 9px;
}

.zvern {
    display: flex;
    justify-content: space-between;
}

.block-all-btn-vendors {
    text-align: center;
}

.see-vendors {
    font-size: 16px;
    font-family: "Helvetica-bold";
    color: #25282b;
    border: 2px solid #25282b;
    padding: 12px;
    width: 100%;
    display: inline-block;
    max-width: 270px;
    margin-top: 25px;
    margin-bottom: 25px;
	transition: all 0.15s ease-in;
}

.see-vendors:hover {
    background-color: #43476b;
    color: #fff;
    border-color: #43476b;
}

.item-footer-block a {
    color: #000000;
    font-size: 16px;
    display: inline-block;
    font-family: "Helvetica-Light";
}

.contact-information {
    margin-top: 40px;
}

.row-tel-footer {
    margin-top: 20px;
    margin-bottom: 30px;
}

.footer-logotype {
    width: 90%;
}

.social-link-footer a {
    display: inline-block;
    margin-right: 20px;
}

.title-footer-block {
    font-size: 18px;
    font-family: "Helvetica-bold";
    color: #25282b;
    margin-bottom: 40px;
}

.footer-menu-block a {
    display: block;
    width: fit-content;
    margin-bottom: 10px;
    color: #000000;
    font-weight: 500;
}

.footer-menu-block a:hover {
    color: #000;
    text-decoration: underline;
}

.desc-footer-block {
    font-family: "Helvetica-light";
    font-size: 16px;
    line-height: 1.6;
}

.btn-block-footer.see-vendors {
    text-align: center;
    font-family: "Helvetica-bold";
}

.flex-row-footer {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
}

.copyright-text {
    font-family: "Helvetica-bold";
    font-size: 16px;
    color: #25282b;
}

span.powered-text {
    color: #000;
    font-family: "Helvetica-bold";
    font-size: 16px;
}

.voll {
    color: #000;
    /* text-decoration: underline; */
    border-bottom: 1px solid;
}

.voll:hover {
	 color: #000;
}

.contact-information a:hover {
    color: #000;
    text-decoration: underline;
}

.title-seo-text {
    font-size: 32px;
    font-family: "Helvetica-bold";
    color: #222222;
}

.seo-block-text p {
    font-size: 16px;
    font-family: "Helvetica-light";
    color: #000000;
}

.row-flex-seo {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}

.item-flex-seo {
    flex-basis: 33.333%;
    margin-bottom: 50px;
}

.float-left-img {
    float: left;
    margin-right: 25px;
}

.block-title-seo {
    margin-bottom: 70px;
}

.seotext-section {
    margin-bottom: 85px;
    margin-top: 50px;
}

.hide-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease;
}

.hide-content.show {
    max-height: 800px;
}

.title-uslugi-event {
    font-family: "Helvetica-bold";
    font-size: 18px;
    color: #25282b;
    margin-bottom: 15px;
}

.perechen-uslug a {
    display: block;
    width: fit-content;
    font-size: 16px;
    font-family: "Helvetica-light";
    color: #25282b;
    margin-bottom: 7px;
}

.show-button {
    color: #a4a4a4;
    font-size: 16px;
    font-family: "Helvetica-Light";
    border-bottom: 1px solid #a4a4a4;
    cursor: pointer;
    display: inline-block;
}

.flex-row-uslugi {
    display: flex;
    flex-wrap: wrap;
}

.item-flex-uslugi {
    flex-basis: 25%;
    margin-bottom: 40px;
}

.blog-item-section {
    margin-bottom: 60px;
    margin-top: 60px;
}

.title-blog {
    font-size: 32px;
    font-family: "Helvetica-bold";
    color: #222222;
    line-height: 1;
    margin-bottom: 90px;
}

.product-thumb {
    border: 1px solid #e6eff0;
    margin-bottom: 20px;
    overflow: auto;
}

.title-article {
    font-size: 18px;
    color: #000;
    font-family: "Helvetica-bold";
    margin-top: 20px;
    margin-bottom: 15px;
    line-height: 1.2;
}

.title-article a {
    color: #000;
}

.article-preview {
    font-size: 14px;
    font-family: "Helvetica-light";
    color: #000;
}

.product-thumb .caption {
    padding: 15px 20px;
    min-height: auto;
}

.button-group-more button {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: #e5e5e5;
    font-size: 14px;
    font-family: "Helvetica-Bold";
    margin-left: 15px;
    margin-bottom: 15px;
}

.more-text {
    border-bottom: 1px solid;
    transition: all 0.15s ease-in;
}

.more-posts {
    min-height: 414px;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.see-all-posts {
    display: block !important;
    font-size: 16px;
    font-family: "Helvetica-bold";
    color: #000;
}


.arrow-all-posts {
    margin-top: 20px;
}

.post-item:hover {
    background-color: #f7f8fb;
    transition: all 0.15s ease-in;
}

.post-item {
	transition: all 0.15s ease-in;
}

.post-item:hover .more-text {
    color: #000;
    transition: all 0.15s ease-in;
}

.post-item-idea {
    position: relative;
}

.caption-idea {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0px 5px;
}

.title-article-idea {
    font-family: "Helvetica-bold";
    color: #fff;
}

.title-article-idea a {
    color: #fff;
    font-size: 24px;
    margin-bottom: 15px;
    display: block;
    line-height: 1;
}

.article-preview-idea {
    font-family: "Helvetica-Light";
    font-size: 18px;
    color: #fff;
    margin-bottom: 20px;
}

.caption-idea {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0px 25px 12px;
}

.owl-nav > div {
    margin-top: -26px;
    position: absolute;
    top: 53%;
    color: #cdcbcd;
}

.owl-nav .owl-prev {
    left: -45px;
}

.owl-nav .owl-next {
    right: -45px;
}

.imgPrev {
    transform: rotate(180deg);
}






/*FLIPPER START*/




.idea-article-block {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 0.6s;
    -moz-transition: 0.6s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateY(0deg);
    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;
    -moz-transform: rotateY(0deg);
    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;
    -o-transform: rotateY(0deg);
    -ms-transition: 0.6s;
    -ms-transform-style: preserve-3d;
    -ms-transform: rotateY(0deg);
    transition: 0.6s;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    position: absolute;
    top: 0;
    left: 0;
}



.idea-article-block:hover .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    /* transform: rotateY(180deg); */
}

.idea-article-block:hover .back{
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
	background-color: #fff;
}

.idea-article-block, .front, .back {
    width: 265px;
    height: 263px;
}

.idea-article-block:hover .back .caption-idea-back {
	opacity: 1;
	transition: 0.4s ease-in-out;
} 

.caption-idea-back {
    opacity: 0;
}

button.btn-idea {
	opacity: 0;
}

.idea-article-block:hover .back .btn-idea {
	opacity: 1;
	transition: 0.4s ease-in-out;
} 


.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -ms-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
}

.back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}


.title-article-idea-back a {
    color: #25282b;
    font-size: 24px;
    font-family: "Helvetica-bold";
}

.article-preview-idea-back {
    font-size: 18px;
    color: #25282b;
    margin-top: 20px;
}

button.btn-idea {
    color: #e5a279;
    margin-left: 0px;
    padding-left: 0px;
    margin-top: 25px;
    font-size: 18px;
}


.caption-idea-back {
    border-bottom: 2px solid #25282b;
    margin-right: 30px;
    padding-bottom: 25px;
}

.idea-item-section {
    margin-top: 55px;
    margin-bottom: 90px;
}

/*FLIPPER END*/




.section-topy {
    background-image: url(/image/catalog/product/top_bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.section-topy {
    background-image: url(/image/catalog/product/top_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 110px;
    padding-top: 60px;
    padding-bottom: 80px;
}

.product-thumb-topy.transition-topy {
    width: 100%;
}

.name-topy a {
    font-size: 18px;
    font-family: "Helvetica-bold";
    color: #25282b;
    line-height: 1.3;
    display: block;
    margin-top: 15px;
    padding-right: 20px;
}

.desc-topy {
    font-size: 18px;
    color: #25282b;
    font-family: "Helvetica-light";
    margin-top: 7px;
}

.back-vert {
    background-color: #fff;
}

.desc-topy-back {
    font-size: 14px;
    font-family: "Helvetica-Light";
    color: #000000;
}

.btn-button-back a {
    color: #000;
    font-family: "Helvetica-bold";
    font-size: 14px;
    text-decoration: underline;
	display: inline-block;
}

.back-flip-desc {
    padding: 30px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

img.arrow-left-png {
    max-width: 16px;
    display: inline-block !important;
    /* float: right; */
    margin-left: 5px;
}

/*.btn-button-back a:after {
    content: "";
    display: inline-block;
    background-image: url(/image/arrow.png);
    width: 17px;
    height: 11px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: 1px;
    margin-left: 5px;
    margin-top: 2px;
}
*/

.my-planner-btn {
    background-color: #ffa370;
    text-shadow: none !important;
    box-shadow: none !important;
    font-size: 16px;
    font-family: "Helvetica-bold";
    color: #25282b !important;
    padding: 12px 18px;
}

.star-icon {
    margin-right: 10px;
    position: relative;
    top: -2px;
}

/*.btn-login-block a {
    font-size: 16px;
    color: #28252b !important;
    text-shadow: none !important;
    font-family: "Helvetica-Light";
    margin: 0px 0px 0px 12px;
}*/

/*.login-btn-header {
    text-decoration: underline !important;
}*/

.portfolio-btn-header {
    text-decoration: underline !important;
}

.input-block-search-home select {
    font-size: 16px;
    font-family: "Helvetica-bold";
    color: #25282b;
    border: 2px solid #25282b;
    width: 100%;
    height: 50px;
    padding: 0px 15px;
}

.input-block-search-home select:focus {
    font-size: 16px;
    font-family: "Helvetica-bold";
    color: #25282b;
    border: 2px solid #25282b;
    width: 100%;
    height: 50px;
    padding: 0px 15px;
    box-shadow: none;
    outline: none;
}

.form-title-main-sect {
    font-size: 22px;
    font-family: "Helvetica-bold";
    color: #25282b;
    margin-bottom: 50px;
}

.submit-search {
    height: 50px;
    width: 50px;
    color: #fff;
    font-size: 20px;
    font-family: "Helvetica-Bold";
    background-color: #43476b;
    box-shadow: none;
    text-shadow: none;
    border: 2px solid #43476b;
}

.form-search {
    margin-top: 130px;
}

.img-vendor {
    transition: all 0.5s ease-in;
}

.block-vendor-item:hover img {
    transform: scale(1.2);
}

.btn-idea:focus {
    outline: none;
    box-shadow: none;
    border: none;
    background: none;
}

.btn-idea:hover {
    text-decoration: underline;
}

.mainSlider-section {
    height: 85vh;
    background-image: url(/image/catalog/static/home/header.jpg);
    background-size: contain;
    background-repeat: no-repeat;
        background-position: center;
        background-position-y: 11%;
}

.main-slider {
    font-family: "Helvetica-bold";
    color: #25282b;
    font-size: 58px;
    margin-top: 200px;
}

.visible-xs-none {
    display: none;
}

.padding-none {
    padding: 0px;
}

.block-item-idea-category {
    margin-bottom: 35px;
}

.category-title {
    font-size: 32px;
    font-family: "Helvetica-bold";
    color: #25282b;
}

.block-head-category {
    margin-bottom: 80px;
    margin-top: 10px;
}

.block-item-idea-category {
    margin-bottom: 50px;
}

.title-seo-cat {
    font-size: 32px;
    font-family: "Helvetica-bold";
    color: #25282b;
    margin-bottom: 60px;
    margin-top: 25px;
}

.block-text-category p {
    font-size: 16px;
    color: #000;
}

.block-text-category {
    margin-bottom: 65px;
}



.title-carousel-spec {
    font-size: 32px;
    font-family: "Helvetica-bold";
    color: #25282b;
    margin-top: 80px;
        margin-bottom: 80px;

}


.btn-block-all-spec {
    text-align: center;
}

.btn-block-all-spec {
    text-align: center;
    margin-top: 30px;
    margin-bottom: -40px;
}


.carousel {
	height: 400px;
	perspective: 600px;
	transform: translateY(0px);
}

.carousel .carousel-item {
	/*cursor: grab;*/
	width: 810px !important;
	height: 378px !important;

}

.carousel .carousel-item:active {
	cursor: grabbing;
}

.carousel .carousel-item img {
	width: 100%;
}

.carousel .carousel-item h3 {
	background-color: #ffffff;
	color: #000000;
	font-size: 2em;
	font-weight: bold;
	margin: -5px 0 0;
	padding: 10px 5px;
	text-align: center;
}

.block-name-desc {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 25px 30px;
    background: linear-gradient(0deg, #00000080 30%, transparent 65%);
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

span.name-spec {
    font-size: 24px;
    display: block;
    color: #fff;
    font-family: "Helvetica-bold";
    margin-bottom: 15px;
}

.desc-spec {
    font-size: 18px;
    font-family: "Helvetica-Light";
    color: #fff;
}

.skidka-block {
    position: absolute;
    top: 20px;
    display: flex;
    justify-content: space-between;
    left: 0;
    right: 0;
}

.block-city-date {
    font-size: 16px;
    font-family: "Helvetica-bold";
    color: #25282b;
}

.block-city-date {
    font-size: 16px;
    font-family: "Helvetica-bold";
    color: #25282b;
    background-color: #9ac4bc;
    padding: 10px 28px;
    text-shadow: none !important;
}

span.skidka-spec {
    font-size: 16px;
    font-family: "Helvetica-bold";
    color: #25282b;
    background-color: #ffa470;
    padding: 10px 28px;
}


/*FLIPPER VERTICAL START*/


.flip-container-top { -webkit-perspective:1000; width: 262px; }
.flipper-top { transition: 0.6s; -webkit-transform-style: preserve-3d; position: relative; height: 340px; }
.front-vert, .back-vert { width: 262px; height: 340px; position: absolute; left: 0; top: 0; -webkit-backface-visibility: hidden; }
.back-vert { -webkit-transform: rotateY(180deg); }
.front-vert { z-index: 2; }
.flip-container-top:hover .flipper-top, .flip-container-top.hover .flipper-top { -webkit-transform: rotateY(-180deg); }

.vertical-flip-container .back-vert { -webkit-transform: rotateX(180deg); }
.vertical-flip-container:hover .flipper-top, .vertical-flip-container.hover .flipper-top { -webkit-transform: rotateX(-180deg); }


/*FLIPPER VERTICAL END*/


.block-my-planner {
    margin-top: -12px;
}

.link-home-how:hover {
    text-decoration: underline;
    color: #25282b;
}

.block-img-plyama {
    position: absolute;
    top: 0;
    z-index: -1;
    left: -120px;
}

.block-idei-bg {
	position: relative;
}

#button-top {
    display: flex !important;
    background-image: url(/image/catalog/static/home/btn-top.png);
    width: 120px;
    height: 100px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 99999 !important;
    color: #fff;
    font-size: 12px;
    font-family: "Helvetica-bold";
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    flex-direction: column;
    cursor: pointer;
}

#button-top.show {
  opacity: 1;
  visibility: visible;
}

.arrow-up-to {
    display: block;
    margin-bottom: 10px;
}









/*START CUSTOM SELECT*/

.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
    background-color: #fff;
    font-size: 16px;
    font-family: "Helvetica-bold";
    color: #25282b;
    border: 2px solid #25282b;
    width: 100%;
    height: 50px;
    padding: 14px 15px 0px;
    cursor: pointer;
}

/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 23px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid #25282b;
    border-color: #25282b transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
/*.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}*/

/* style the items (options), including the selected item: */
.select-items div {
  color: #25282b;
  background-color: #fff;
  padding: 8px 16px;
  border-left: 2px solid #25282b;
  border-right: 2px solid #25282b;
  cursor: pointer;
  font-size: 16px;
  font-family: "Helvetica-light";
}

.select-items div:last-child {
  border-bottom: 2px solid #25282b;
}


/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgb(236, 236, 236);
}

/*END CUSTOM SELECT*/

.btn-search {
    background: transparent;
    border: none;
    box-shadow: none;
    text-shadow: none;
}

.btn-search:hover {
	background: transparent;

}


#search {
    margin: -8px 0px 0px 0px;
     display: inline-block; 
    /* position: relative; */
    /* height: 60px; */
    /* float: right; */
    /* padding: 0; */
    /* position: relative; */
    width: 23px;
}


#search input[type="text"] {
    height: 30px;
    font-size: 16px;
    display: inline-block;
    font-family: "Helvetica-bold";
    border: none;
    outline: none;
    color: #25282b;
    padding: 3px;
    padding-right: 20px;
    width: 0px;
    position: absolute;
    top: 0;
    right: -4px;
    background: none;
    z-index: 3;
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: pointer;
}

/*#search input[type="text"]:focus:hover {
  border-bottom: 1px solid #BBB;
}*/

#search input[type="text"]:focus {
	width: 215px;
    z-index: 1;
    border-bottom: 2px solid #25282b;
    cursor: text;
    box-shadow: none !important;
    height: 25px;
    top: 40px;
}

#search input::placeholder {
	font-family: "Helvetica-light";
}

.btn-search:active {
    text-shadow: none;
    box-shadow: none;
    background: transparent;
}

.btn-search:active:focus {
    background: transparent;
    box-shadow: none;
    outline: none;
}

.main-header {
    transition: all 0.15s ease-in;
    position: fixed;
    width: 100%;
    z-index: 9999 !important;
    /* position: relative; */
    background-color: #fff;
}

.main-header.fixedHeader {
    position: fixed;
    width: 100%;
    z-index: 9999;
    background: #fff;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.15s ease-in;
}

.fixedHeader #megamenu-menu .nav > li > a {
    color: #000;
    text-shadow: none;
    padding: 0px 17px 0px;
    height: 20px;
    background-color: transparent;
    font-size: 16px;
    font-family: "Helvetica-Bold";
    transition: all 0.15s ease-in;
}

.fixedHeader #megamenu-menu {
    min-height: 25px;
    transition: all 0.15s ease-in;
}

.fixedHeader .navbar {
    margin-bottom: 5px;
    transition: all 0.15s ease-in;
}

.main-header .navbar {
	transition: all 0.15s ease-in;
}

.fixedHeader #top {
    padding: 4px 0px 3px 0;
    margin: 10px 0 10px 0;
    transition: all 0.15s ease-in;
}

.main-header #top {
	transition: all 0.15s ease-in;
}

.fixedHeader #logo {
    margin: 10px 0 10px 0;
    transition: all 0.15s ease-in;
}

.main-header #logo {
	transition: all 0.15s ease-in;
}

.fixedHeader .my-planner-btn {
    padding: 9px 18px;
    transition: all 0.15s ease-in;
}

.main-header .my-planner-btn {
	transition: all 0.15s ease-in;
}

.for-fixed-header {
    /* margin-top: 140px; */
    padding-top: 140px;
}

.date-date {
    background-color: #c9e1dc;
    font-size: 16px;
    font-family: "Helvetica-bold";
    color: #25282b;
    /* background-color: #9ac4bc; */
    padding: 10px 28px;
    text-shadow: none !important;
}

.bg-image-vendor {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 75px 75px;
    position: relative;
}

.title-block-vendors {
    position: relative;
    z-index: 2;
}

.bg-image-vendor:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(360deg, #000000a6, #537d7d69);
    z-index: 0;
}

.rating {
    z-index: 2;
    position: relative;
    display: inline-block;
}

.wish-btn-vendors {
    position: relative;
}

.title-vendors {
    color: #c0c0c0;
    font-family: "Helvetica";
    font-weight: 500;
    font-size: 30px;
}

.title-vendors span {
    color: #fff;
    font-weight: bold;
    display: block;
    font-size: 58px;
}

button.btn.btn-default.wish-btn-vendors {
    background: transparent;
    border: none;
    box-shadow: none;
    text-shadow: none;
    font-family: "Helvetica";
    color: #d6d6d6;
    font-size: 16px;
    text-transform: lowercase;
    margin-top: 0px;
}

.add-izbr {
    margin-right: 7px;
}

.wish-btn-vendors .fa.fa-heart {
    font-size: 20px;
    position: relative;
    top: 2px;
}

.rating .fa-star + .fa-star-o {
    color: #ffcc00;
    font-size: 18px;
}

.link-otzyv-vendors {
    font-size: 16px;
    color: #ffffff;
    position: relative;
    top: 4px;
}

.chis-otzyv {
    font-family: "Helvetica-medium";
    font-size: 20px;
    margin-left: 0px;
}

.flex-row-head {
    display: flex;
    justify-content: space-between;
}

.link-otzyv-vendors {

    margin-left: 10px;
}

.link-otzyv-vendors:hover {
	color: #fff;
    border-bottom: 1px solid;
}

.link-otzyv-vendors:focus {
	color: #fff;
    border-bottom: none;
    outline: none;
    box-shadow: none;
    text-decoration: none;
}

.title-adress-zag {
    display: block;
    font-size: 16px;
    font-family: "helvetica-light";
    color: #afafaf;
    margin-bottom: 5px;
}

.text-adres {
    font-size: 18px;
    color: #535353;
    font-family: "Helvetica-bold";
    line-height: 1.1;
}

.block-adres-vendor {
    max-width: 300px;
}

.link-adres-vendor-maps {
    color: #43476b;
    font-family: "Helvetica-medium";
    font-size: 16px;
    border-bottom: 1px solid;
    margin-left: 10px;
}

.block-img-icon-vendor {
    margin-right: 30px;
}

.block-inside-vendor {
    max-width: 330px;
    display: flex;
    border-bottom: 1px solid #e6eff0;
    padding: 20px 0px;
}

.tel-link-vendors {
    display: inline-block;
    font-family: "Helvetica-bold";
    font-size: 18px;
    color: #535353;
    margin-bottom: 3px;
}

.soc-link-vendors {
    color: #535353;
    font-size: 16px;
    font-family: "Helvetica-light";
    font-weight: bold;
    margin-right: 12px;
}

.icon-img-soc-link {
    position: relative;
    top: -2px;
}

.write-vendors {
    background-color: #43476b;
    color: #fff;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1;
    border: none;
    max-width: 230px;
    width: 100%;
    height: 50px;
    padding: 0px 17px;
}

.write-vendors:focus {
    background-color: #43476b;
    outline: none;
}


.popover-content button {
    font-family: "Helvetica-bold";
    background-color: #43476b !important;
    background-image: none;
    color: #fff;
    font-size: 16px;
    text-transform: lowercase !important;
    border-radius: 0px !important;
    border: none !important;
}

#ocfilter .btn-danger {
    background-color: transparent;
    background-image: none;
    color: #321414;
    font-family: "Helvetica-light";
    border: none;
    font-size: 13px;
    text-transform: none;
    text-shadow: none;
    box-shadow: none;
    height: 23px;
    position: relative;
    top: -1px;
}

i.fa.fa-times:before {
    color: #ffbe9b;
}

.selected-options .ocfilter-option span {
    font-size: 13px;
    font-family: "Helvetica-bold";
    color: #323232;
}


.block-soc-vendor.block-inside-vendor {
    max-width: 350px;
}

.soc-link-vendors:nth-child(2) {
    border-left: 1px solid #d0d0d0;
    padding-left: 14px;
}

.tel-link-vendors:hover {
    color: #535353;
    text-decoration: underline;
}

.soc-link-vendors:hover {
    color: #535353;
    text-decoration: underline;
}

.must-info-vendor {
    background-image: url(/image/catalog/product/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 50px 35px;
}

.block-write-vendor.block-inside-vendor {
    border-bottom: none;
}

.block-attribute {
    margin-top: 46px;
}

.block-vendors-attribute {
    display: flex;
}

.row-price {
    display: flex;
    padding: 12px 0px;
    height: 46px;
    border: 2px solid #f4f3f3;
    background: transparent;
    margin: 0px 0px 10px;
    position: relative;
    max-width: 270px;
    float: left;
    width: 100%;
    margin-right: 4px;
}


.block-vendors-attribute {
    padding: 12px 0px;
    background-color: transparent;
    margin: 0px 2px 15px;
    height: 46px;
    border: 2px solid #f4f3f3;
    position: relative;
    max-width: 270px;
    display: inline-block;
    width: 100%;
    float: left;
}

.icon-attr-vendors-bg {
    height: 100%;
    width: 100%;
    background-color: #ffbe9b;
    padding: 12px;
}

.attr-name-vendors {
    font-family: "Helvetica-light";
    text-transform: uppercase;
    color: #b9b9b9;
    font-size: 12px;
    margin-left: 15px;
    margin-right: 20px;
    position: relative;
    position: absolute;
    top: -10px;
    background-color: #fff;
    padding: 0px 5px;
}


.value-attribute-vendors {
    font-family: "Helvetica-light";
    font-size: 15px;
    font-weight: 500;
    margin-left: 20px;
}

.value-attribute-vendors {
    font-family: "Helvetica-medium";
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px;
    color: #43476b;
}

.img-icon-attr {
    max-width: 17px;
    height: 17px;
}

.anons-block-vendors {
    font-size: 14px;
    font-family: "Montserrat";
    line-height: 20px;
    color: #565656;
    margin-top: 15px;
}

.anons-block-vendors p {
    margin-bottom: 0px;
}

.bg-image-vendor:after {
    content: "";
    background-color: #ffbe9b;
    position: absolute;
    display: block;
    width: 100%;
    height: 5px;
    left: 0;
    bottom: 0;
}

.title-share-vendors {
    font-family: "Helvetica-light";
    font-size: 16px;
    color: #c0c0c0;
    display: inline-block;
}

.fb-share-button {
    display: inline-block;
    margin: 0px 10px;
}

.img-share-vendors-block {
	display: inline-block;
}

.share-vendors-blocks {
    margin-top: 30px;
}

.nav-tabs>li>a {
    font-size: 22px;
    font-family: "Helvetica-bold";
    color: #6c6f8a;
    margin: 0px 25px 0px 0px;
    border: none !important;
    padding: 0px;
}

.nav.nav-tabs {
    margin-top: 0px;
    border-bottom: 0px;
}

.line-row-blue {
    border-color: #e6eff0;
    margin-top: 30px;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    /* border-bottom: 6px solid #ffbe9b !important; */
    color: #43476b;
}

.nav-tabs>li.active>a {
	position: relative;
	z-index: 1;
	background: transparent !important;
}

.nav-tabs>li.active>a:after {
    content: "";
    display: block;
    border-bottom: 6px solid #ffbe9b !important;
    position: absolute;
    bottom: 7px;
    width: 100%;
    z-index: -1;
}

.block-description {
    margin-top: 60px;
}


.block-description {
    color: #565656;
    font-family: "Montserrat";
    font-size: 14px;
    line-height: 1.5;
}

.block-description p {
    margin-bottom: 5px;
}

.related-vendors {
    font-size: 32px;
    font-family: "Helvetica-bold";
    color: #25282b;
    margin-bottom: 70px;
    line-height: 1;
    margin-top: 60px;
}

.name-related-vendors a {
    color: #141414;
    font-size: 18px;
    font-family: "Helvetica-bold";
}

.product-grid .product-thumb .image {
    float: none;
    width: 100%;
    height: 100%;
    max-height: 180px;
}

#masonryGrid {
    width: 103%;
}

#masonryGrid .grid .grid-item {
    margin: 15px;
}


#masonryGrid .grid {
    margin-left: -13px;
    width: 100% !important;
}

.rating-block-with-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.text-rating-related-products {
    font-size: 16px;
    font-family: "Helvetica-light";
    position: relative;
}

.rating-related-vendors.rating {
    padding-bottom: 3px;
}

.rating-block-with-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rating-block-with-cont button.btn.btn-default.wish-btn-vendors {
    padding-right: 0px;
}

.sred-check {
    font-size: 16px;
    font-family: "Helvetica-bold";
    color: #141414;
}

.product-thumb .price {
    color: #141414;
    font-size: 16px;
    font-family: "Helvetica-light";
}

.gallery-head {
    position: relative;
    z-index: 2;
    font-size: 16px;
    color: #fff;
    display: inline-block;
    margin-left: 20px;
    font-family: "Helvetica";
}

.medium-helvet {
    font-family: "Helvetica-medium" !important;
}

.gallery-text-head span {
    font-family: "Helvetica-light";
}

.gallery-text-head {
    position: relative;
    top: 0px;
    left: 6px;
}

.gallery-img-icon {
    position: relative;
    top: -4px;
}

.img-block-banner {
    background-image: url(/image/catalog/banner.jpg);
    background-size: cover;
    padding: 100px 0px;
    margin: 10px 0px 35px;
}

.category-banner-vendors {
    color: #25282b;
    font-size: 24px;
    font-family: "Helvetica-bold";
    text-align: center;
}

.category-flex-row {
    display: flex;
    flex-wrap: wrap;
}

.category-flex-row li a {
    font-family: "Helvetica-light";
    color: #25282b;
    font-size: 16px;
    padding: 10px 16px;
    line-height: 1;
    border: 1px solid #e6eff0;
    display: inline-block;
    transition: all 0.15s ease-in;
}

.category-flex-row li a:hover {
    background-color: #43476b;
    border-color: #43476b;
    color: #fff;
}

.block-top-category .list-group .list-group-item {
display: inline-block;
    margin: 0px -2px -1px -3px;
    font-family: "Helvetica-light";
    color: #25282b;
    font-size: 14px;
    padding: 8px 10px;
    line-height: 1;
    border: 1px solid #e6eff0;
    display: inline-block;
    transition: all 0.15s ease-in;
    text-shadow: none !important;
}

.block-top-category .list-group .list-group-item:hover {
	background-color: #43476b;
    border-color: #43476b;
    color: #fff;
    font-family: "Helvetica-light";
}

.block-top-category .list-group .list-group-item.active {
	background-color: #43476b;
    border-color: #43476b;
    color: #fff;
    text-shadow: none;
    font-family: "Helvetica-light";
    z-index: 0;
}

.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.description-category {
    font-size: 16px;
    font-family: "Helvetica-light";
    color: #222222;
    margin-top: 70px;
}

.head-filter {
    color: #25282b;
    font-family: "Helvetica-bold";
    font-size: 22px;
    margin-bottom: 45px;
}

#ocfilter {
    border: none;
}

#ocfilter .list-group-item {
    border-top: 0px !important;
    border-bottom: 2px solid #e6eff0 !important;
    border-radius: 0px;
    margin-bottom: 10px;
}

[type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after {
    display: none;
}


.ocfilter-option .ocf-option-values label {
    position: relative;
}

.link-name {
    color: #25282b;
    font-size: 16px !important;
    font-family: "Helvetica-Light";
    top: 4px;
}

.ocfilter-option label span.newcheckbox {
    position: absolute;
    top: 6px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 0px;
}

.ocfilter-option {
    padding: 10px 0px 20px;
}

.ocfilter-option label input:checked ~ span.newcheckbox:after {
    content: "";
    display: block;
    position: absolute;
    left: 6px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.ocfilter-option .ocf-option-name {
    font-size: 16px !important;
    font-family: "Helvetica-bold";
    color: #25282b !important;
    margin-bottom: 10px !important;
}

button.btn.btn-block.btn-danger {
    text-align: left;
    margin-bottom: 14px;
}

.ocf-option-name:before {
    content: "";
    display: inline-block;
    background-image: url(/image/catalog/polygon.png);
    width: 7px;
    height: 5px;
    position: relative;
    top: -2px;
    margin-right: 5px;
}

.blog-head-category {
    color: #25282b;
    font-size: 32px;
    font-family: "Helvetica-bold";
    margin-bottom: 75px;
}


.blog-for-category {
    margin-top: 60px;
}

.title-category {
    font-size: 32px;
    color: #25282b;
    font-family: "Helvetica-bold";
    text-shadow: none;
}

#column-left {
    padding-top: 30px;
}

.category-vendors-block-title {
    margin-bottom: 40px;
}

.noUi-pips.noUi-pips-horizontal {
    display: none;
}

.noUi-horizontal .noUi-handle {
    box-shadow: none !important;
    border: none !important;
    border-radius: 100% !important;
    width: 15px !important;
    height: 15px !important;
    background-color: #ffa370 !important;
    left: -15px !important;
}

.noUi-target {
    border-radius: 4px !important;
    border: none !important;
    box-shadow: none !important;
    background: #fff !important;
}

.noUi-horizontal {
    height: 3px !important;
}

.noUi-handle:after, .noUi-handle:before {
    content: "";
    display: none !important;
}

.noUi-connect {
    background: #ffa370 !important;
    box-shadow: none !important;
    -webkit-transition: background 450ms;
    transition: background 450ms;
}

/* .value-attribute-vendors.left-dop-mar {
    margin-left: 25px;
} */

/*.noUi-origin.noUi-connect.noUi-draggable {
    left: 8px !important;
    right: 4px;
}*/

#nav-link {
    display: inline-block;
}

.btn-write-otzyv {
    display: inline-block;
}

.btn-write-otzyv {
    display: inline-block;
    width: 61.3%;
    text-align: right;
}

.click-otzyvy {
    font-family: "Helvetica-bold";
    font-size: 16px;
    color: #222222;
    /* margin-top: -19px; */
    background-color: transparent;
    border: 2px solid #222;
    padding: 10px 30px;
    display: block;
    margin-left: auto;
    position: relative;
    top: -15px;
    margin-bottom: -10px;
    text-shadow: none !important;
    transition: all 0.15s ease-in;
}

.click-otzyvy:focus {
    background-color: #43476b;
    outline: none;
    color: #fff;
    border-color: #43476b;
}

.click-otzyvy:hover {
    background-color: #43476b;
    outline: none;
    color: #fff;
    border-color: #43476b;
}

/*.row-attribute:last-child .block-vendors-attribute:last-child {
    display: none;
}
*/

.block-vendors-attribute.kuhya-class {
    float: none;
    max-width: 98%;
}

.thumbnail {
    display: block;
    padding: 0px !important;
    margin-bottom: 0px !important;
    line-height: 1 !important;
    background-color: transparent !important;
    border: none !important;
    border-radius: 0px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.krapka {
    display: none;
}

.like-img.like-img-cat {
    width: 23px;
}

button.btn.btn-default:focus {
    outline: none;
    box-shadow: none;
}


.alert-success {
    color: #272727;
    background-color: #ffbe9b8f;
    border-color: transparent;
    padding-left: 15px !important;
    font-size: 14px;
    font-family: "Helvetica-light";
}

.alert-success a {
    color: #272727;
    background-color: transparent;
    border-color: transparent;
    padding-left: 0px !important;
    font-size: 14px;
    text-decoration: underline;
}

.like-img-header.like-img-cat {
    max-width: 35px;
}

.icon-img-fon {
    width: 45px;
}


.login-btn-header {
    color: #222222 !important;
    font-size: 16px;
    font-family: "Helvetica-light";
}

.portfolio-btn-header {
		color: #222222 !important;
    font-size: 16px;
    font-family: "Helvetica-light";
}



/*POPUP FORM CHOISE REGISTER START*/

.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999990;
    display: none;

    background-color: rgba(0, 0, 0, 0.65);
    position: fixed;
    cursor: default;
}

.popupWindow {
    z-index: 999999;
    width: 400px;
    padding: 20px;
    background: #fff;
}

.popup-close {
    cursor: pointer;
    position: fixed;
    font-size: 32px;
    transform: rotate(45deg);
    text-align: center;
    font-weight: 100;
    top: 12px;
    right: 10px;
    color: #000;
    z-index: 99999999;
    display: none;
    font-family: "Helvetica-bold";
}

.moveRight {
	display: flex;
    position: fixed;
    width: 750px;
    height: 305px;
    top: 28%;
    left: 0;
    right: 0;
    transition: all 0.4s ease;
    transform: translate3d(1600px,0,0);
    visibility: hidden;
    margin: auto;
    background-image: url(/image/catalog/register/step_1_3_backl.jpg);
    background-size: cover;
    background-position: top;
    align-items: center;
    justify-content: center;
}

.moveRight.in {
  transform: translate3d(0,0,0);
  visibility: visible;  
}

.popup-title-choice {
    font-family: "Helvetica-bold";
    color: #25282b;
    font-size: 32px;
    text-align: center;
}

.link-choice a {
    display: inline-block;
    width: 290px;
    border: 2px solid #000;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-family: "Helvetica-bold";
    color: #1c1e24 !important;
    margin: 0px 15px;
    position: relative;
    text-shadow: none !important;
}

.link-choice {
    text-align: center;
    margin-top: 55px;
}

.popupUp-register {
    cursor: pointer;
}

.search-uslug-link-register:after {
    content: "";
    background-image: url(/image/catalog/register/step_1_3_1.png);
    background-size: contain;
    display: block;
    height: 82px;
    background-repeat: no-repeat;
    position: absolute;
    top: 4px;
    width: 306px;
    left: -11px;
    z-index: -1;
}

.proposal-link-register:after {
    content: "";
    background-image: url(/image/catalog/register/step_1_3_2.png);
    background-size: contain;
    display: block;
    height: 82px;
    background-repeat: no-repeat;
    position: absolute;
    top: 4px;
    width: 306px;
    left: -11px;
    z-index: -1;
}

/*POPUP FORM CHOISE REGISTER END*/


.list-inline>li {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}

.block-border-register {
	border: 2px solid #e7f0f0;
    padding: 70px;
    min-height: auto !important;
    margin: 0px 15px;
}

.form-register-user input {
    color: #74797f !important;
    font-size: 16px !important;
    font-family: "Helvetica-Light";
    border: 1px solid #c2c2c2 !important;
    padding: 4px 0px 4px 20px !important;
    text-shadow: none !important;
    box-shadow: none !important;
    width: 95% !important;
    position: relative;
}

.fo-input-bg:before {
    content: "";
    background-color: #3e4c58;
    position: absolute;
    display: block;
    height: 40px;
    width: 10px;
    left: 0px;
    top: 0px;
    z-index: 9;
}

#login-popup {
    cursor: pointer;
}

.forgoten-link:hover {
    color: #8e9194;
    text-decoration: underline;
}

.fo-input-bg {
    position: relative;
}

.block-title-register h1 {
    font-size: 32px;
    font-family: "Helvetica-bold";
    color: #25282b;
    text-shadow: none;
}

.block-title-register {
    margin-bottom: 40px;
    margin-top: -10px;
}

.text-authorization {
    font-family: "Helvetica-light";
    color: #8e9194;
    font-size: 16px;
}

.block-authorization {
	text-align: center;
}

.form-register-user .btn-reg-user {
    background-color: #ffbe9b !important;
    background-image: none;
    border-radius: 0px;
    box-shadow: none !important;
    border: 0px !important;
    padding-left: 0px !important;
    font-family: "Helvetica-bold";
    color: #fff !important;
    font-size: 14px !important;
    height: 45px;
    max-width: 260px;
    margin: auto !important;
}

.form-register-user .buttons {
    margin: 1em 0;
    text-align: center;
}

button.btn.btn-primary.btn-authorization {
    max-width: 260px;
    display: block;
    width: 100%;
    margin: auto;
    box-shadow: none !important;
    border: 0px;
    border-radius: 0px;
    text-shadow: none;
    background-image: none;
    text-transform: none;
    font-size: 16px;
    font-family: "Helvetica-bold";
    margin: 20px auto;
    height: 45px;
    position: relative;
    padding-right: 50px;
}

.btn-authorization-fb.btn-authorization {
    background-color: #637bb3;
}

.btn-authorization-google.btn-authorization {
    background-color: #d0776e;
}

.btn-authorization-fb.btn-authorization:after {
    content: "";
    background-image: url(/image/catalog/register/facebook-auth.png);
    height: 45px;
    width: 45px;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #526dac;
    transition: all 0.15s ease-in;
}

.btn-authorization-google.btn-authorization:after {
    content: "";
    background-image: url(/image/catalog/register/google-auth.png);
    height: 45px;
    width: 45px;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #d66156;
    transition: all 0.15s ease-in;
}

button.btn.btn-primary.btn-authorization-fb.btn-authorization:hover:after {
    width: 100%;
}

button.btn.btn-primary.btn-authorization-google.btn-authorization:hover:after {
    width: 100%;
}

.text-allready-register {
    font-size: 16px;
    font-family: "Helvetica-light";
    color: #8e9194;
    margin-top: 45px;
}

.login-link-reger {
    font-family: "Helvetica-light";
    font-size: 18px;
    color: #43476b;
    border-bottom: 1px solid #43476b;
}

.login-link-reger:hover {
    font-family: "Helvetica-light";
    font-size: 18px;
    color: #43476b;
    border-bottom: 1px solid #43476b;
}

.i-agree {
    margin-bottom: 30px;
    font-size: 16px;
    color: #989898;
}

.agree-uslov {
    color: #989898;
    border-bottom: 1px solid;
}

input.privacy-check {
    position: relative !important;
    opacity: 0 !important;
    width: fit-content !important;
    z-index: 999 !important;
    cursor: pointer;
}

input.privacy-check:checked ~ span.newcheckbox-reg:after {
    content: "";
    display: block;
    position: absolute;
    left: 5px;
    top: -2px;
    width: 6px;
    height: 12px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

span.newcheckbox-reg {
    width: 17px !important;
    height: 17px !important;
    padding: 0px !important;
    border: 1px solid #c2c2c2;
    position: absolute !important;
    left: -7px;
    top: 0px;
    cursor: pointer;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    pointer-events: visible !important;
}

.btn.btn-primary:focus {
    outline: none;
}

.lang-list .fa.fa-caret-down {
    height: auto;
}

#form-language {
    margin-bottom: 0px;
}

button.btn.btn-link.dropdown-toggle {
    padding: 0px;
    height: 100%;
}

.lang-list {
    position: relative;
    top: 3px;
    padding-right: 0px !important;
    margin-right: -17px;
    color: #000;
}

.lang-list ul.dropdown-menu {
    min-width: 45px;
    left: -10px;
}

.lang-list .fa-caret-down:before {
    content: "\f0d7";
    color: #000;
    position: relative;
    top: 3px;
}

.blog-title {
    font-size: 32px;
    font-family: "Helvetica-bold";
    color: #25282b;
    text-shadow: none;
    margin-bottom: 60px;
    margin-top: 40px;
}



















@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1300px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (                min-resolution: 192dpi) and (min-width: 1300px),
only screen and (                min-resolution: 2dppx)  and (min-width: 1300px) { 

	 .block-title-how {
	    margin-top: 70px;
	}

}





@media (max-width: 1380px) {
	.mainSlider-section {
		background-size: cover; 
    }
    
    .block-title-how {
        margin-top: 70px;
    }

    .main-slider {
        margin-top: 135px;
    }
}


@media (min-width: 1200px) {
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-3:nth-child(4n+1),
	#content .col-lg-4:nth-child(3n+1),
	#content .col-lg-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-3:nth-child(4n+1),
	#content .col-md-4:nth-child(3n+1),
	#content .col-md-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-3:nth-child(4n+1),
	#content .col-sm-4:nth-child(3n+1),
	#content .col-sm-6:nth-child(2n+1) {
		clear:left;
	}
}

/* fixed colum left + content + right*/
@media (min-width: 768px) {
    #column-left  .product-layout .col-md-3 {
       width: 100%;
    }

	#column-left + #content .product-layout .col-md-3 {
       width: 50%;
    }

	#column-left + #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }

    #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }
}

/* fixed product layouts used in left and right columns */
#column-left .product-layout, #column-right .product-layout {
	width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
	min-width: 50px;
}

/* Missing focus and border color to overwrite bootstrap */
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-image: none;
    background-color: #df5c39;
}

img.oplata-icon {
    max-width: 50px;
    margin-right: 5px;
}

.oplata {
    margin-top: 25px;
}

.text-decoration-link {
    /* text-decoration: underline; */
    font-style: italic;
}

@media (max-width: 500px) {
	.main-slider {
    font-size: 35px;
    margin-top: 0px;
}

.btn-block-all-spec {
    text-align: center;
    margin-top: 0px;
    margin-bottom: -40px;
}

.name-vendor {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    font-size: 18px;
    font-family: "Helvetica-bold";
    color: #fff;
    padding: 25px 10px 15px;
    line-height: 1.2;
    background-color: #33333373;
    left: 0;
    right: 0;
    height: 100%;
}

.link-adres-vendor-maps {
    font-size: 14px;
}

.related-vendors {
    font-size: 32px;
    font-family: "Helvetica-bold";
    color: #25282b;
    margin-bottom: 35px;
    line-height: 1;
    margin-top: 50px;
}

.review-link-tab {
    margin-top: 20px;
    margin-bottom: 10px;
}

.btn-write-otzyv {
    position: relative;
    right: -145px;
    top: -41px;
    margin-top: -30px;
}

.category-vendors-block-title {
    margin-bottom: 30px;
    padding-top: 25px;
    background-color: #fff;
}

.blog-head-category {
    color: #25282b;
    font-size: 32px;
    font-family: "Helvetica-bold";
    margin-bottom: 35px;
    margin-top: -20px;
}

.description-category {
    margin-top: 50px;
}

#content {
    background-color: #fff;
}

.block-top-category {
    height: 96px;
    transition: all 0.15s ease-in;
    width: 100%;
}

.krapka {
    font-size: 32px !important;
    font-family: "Helvetica-bold";
    line-height: 0;
    z-index: 99;
    position: absolute;
    right: 41px;
    bottom: 0;
    padding: 8px;
    height: 32px;
    border: 1px solid #e6eff0;
    color: #70769c;
    display: block;
}

.head-filter {

    margin-bottom: 80px;
}

.top-with-btn {
    position: relative;
}

.block-top-category.main {
    max-height: 385px;
    transition: all 0.15s ease-in;
    height: 385px;
}

.name-related-vendors a {
    color: #141414;
    font-size: 22px;
    font-family: "Helvetica-bold";
}

.block-top-category .list-group .list-group-item {
    margin: 0px -2px 0px -3px;
}

.ocfilter-mobile-handle button.btn.btn-primary {
    background-color: #ffa370;
    background-image: none;
    border: none;
}

.text-rating-related-products {

    left: -60px;
}

#ocfilter .list-group-item {
    padding-left: 10px;
}

.title-vendors span {
    color: #fff;
    font-weight: bold;
    display: block;
    font-size: 40px;
}

.gallery-head {
    margin-left: 0px;
}

.click-otzyvy {
    margin-left: 0px;
    top: 1px;
    margin-bottom: 0px;
}

.product-grid .product-thumb .image {
    max-height: 300px;
}

button.btn.btn-default.wish-btn-vendors {
    padding-left: 0px;
}

.block-description {
    margin-top: 40px;
}

.must-info-vendor {
    padding: 30px 10px 35px;
    border: 1px solid #e6eff0;
}

#masonryGrid .grid .grid-item {
    margin: 6px;
    width: 46%;
}

#masonryGrid img {
    width: 100%;
    height: auto;
}

.flex-row-head {
    display: block;
    justify-content: space-between;
}

#masonryGrid {
    width: 100%;
}

.bg-image-vendor {
    padding: 50px 22px 75px;

}

.title-blog {
    margin-bottom: 40px;
}

.title-carousel-spec {
    margin-top: 80px;
    margin-bottom: 10px;
    line-height: 1;
}

.input-block-search-home.custom-select {
    margin-bottom: 25px;
}

.carousel .carousel-item {
    /* cursor: grab; */
    width: 340px !important;
    height: 160px !important;
}

.header-bg {
    margin-top: -25px;
}

.carousel {
    height: 228px;
}


#top {
    display: none;
}

.btn-nav-menu {
    background: none !important;
    border: none;
    color: #25282b !important;
    font-size: 18px !important;
    position: relative;
    top: -40px;
    padding: 0px !important;
    right: -15px;
}

.fixedHeader #megamenu-menu .nav > li > a {
    padding: 0px 17px 30px;
}

#megamenu-menu .navbar-header {
    position: absolute;
    right: 0;
}

#megamenu-menu .nav > li > a {
    color: #000;
    text-shadow: none;
    padding: 0px 0px 10px;
    height: 38px;
    background-color: transparent;
    font-size: 16px;
    font-family: "Helvetica-Bold";
    text-align: center;
}

.btn-nav-menu .fa-navicon:before, .fa-reorder:before, .fa-bars:before {
    content: "\f0c9";
    font-size: 31px;
}

#megamenu-menu ul.nav.navbar-nav {
    display: block !important;
    width: 100%;
    margin: 0px;
    text-align: center !important;
    float: none;
    padding: 35px 0px 20px;
}

.navbar-collapse.collapse {
    padding-right: 0px;
    text-align: center;
    padding-left: 0px;
}

/*#megamenu-menu .navbar-collapse-menu.in {
    position: fixed;
    height: 100vh;
    top: 0px;
    right: 0px;
    left: 0;
    background-color: #fff;
    z-index: 99;
    width: 100%;
    margin: 0px 0px;
    padding: 20px;
}*/


#logo {
    max-width: 235px;
}

.input-block-search-home select {
    margin-bottom: 15px;
}

.owl-nav .owl-next {
    right: 0px;
}

.item-flex-uslugi {
    flex-basis: 50%;
    margin-bottom: 40px;
    padding-right: 10px;
}

.float-left-img {
    float: none;
    margin-right: 0;
    margin-bottom: 10px;
}

.item-flex-seo {
    flex-basis: 50%;
    margin-bottom: 50px;
    padding-right: 10px;
    text-align: center;
}

.flex-row-footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
}

.copyright-text {
    margin-bottom: 15px;
}

.item-footer-block {
    text-align: center;
    margin-bottom: 45px;
}

.footer-menu-block a {
    margin: 0px auto 10px;
}

.title-footer-block {
    margin-bottom: 25px;
}

.social-link-footer a {
    display: inline-block;
    margin-right: 0px;
    margin: 0px 10px;
}

.blog-item-section .product-thumb .image img {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.idea-article-block, .front, .back {
    width: 265px;
    height: 250px;
    margin: auto;
}

.owl-nav .owl-prev {
    left: 0;
}

.flip-container-top {
    margin: auto;
}

.caption-topy {
    width: 262px;
    margin: auto;
}

.plan-block-grey {
    background-repeat: no-repeat;
    max-width: 262px;
    margin: 0px auto 35px;
}

.plan-block-blue {
	background-repeat: no-repeat;
	max-width: 262px;
	margin: 0px auto 35px;
}

.padding-none {
    padding: 0px;
}

.reklama-block {
    height: 260px;
    margin-left: auto;
    max-width: 262px;
    margin-right: auto;
}

.form-search {
    margin-top: 50px;
}

.block-vendor-title {
    margin-top: 50px;
    margin-bottom: 30px;
}

.blog-item-section .product-thumb {
    margin-bottom: 50px;
}

.block-title-how {
    margin-bottom: 50px;
}

.more-posts {
    min-height: 55px;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.arrow-all-posts {
    margin-top: 3px;
    margin-left: 10px;
}

.information-information-7 .idea-article-block, .front, .back {
    width: 100%;
    height: 135px;
    margin: auto;
    padding-left: 0px;
}

.information-information-8 .idea-article-block, .information-information-8 .front, .information-information-8 .back {
    height: 260px;
    margin: auto;
    padding-left: 0px;
}


.newsblog-category .idea-article-block, .newsblog-category .front, .newsblog-category .back {
    height: 260px;
    margin: auto;
    padding-left: 0px;
}

.information-information-7 .title-article-idea a {
    color: #fff;
    font-size: 16px;
    margin-bottom: 0px;
    display: block;
    line-height: 1;
}

.information-information-7 .caption-idea {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0px 12px 0px;
}

.information-information-7 .title-article-idea-back a {
    color: #25282b;
    font-size: 16px;
    font-family: "Helvetica-bold";
}

.information-information-7 button.btn-idea {
    color: #e5a279;
    margin-left: 0px;
    padding-left: 0px;
    margin-top: 20px;
    font-size: 16px;
}

}