.popup_visible #popuplogin, .popup_visible #popupregister {
	transform: scale(1.0);
	-o-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-webkit-transform: scale(1.0);
}

#popuplogin, #popupregister {
    display: none;
    background-color: #F5F5F5;
    padding: 70px 80px;
    box-shadow: none !important;
    text-align: center;
    max-width: 855px;
    transform: scale(0.4);
    -o-transform: scale(0.4);
    -moz-transform: scale(0.4);
    -webkit-transform: scale(0.4);
    height: 452px;
    width: 100%;
    position: relative;
    background-image: url(/image/catalog/register/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



#popuplogin .head .close, #popupregister .head .close{
	position:absolute;
	top:12px;
	right:14px;
	opacity: 1.0;
	cursor:pointer;
	padding:5px;
}

#popuplogin .head .close:hover, #popupregister .head .close:hover{
	background:#dedede;
	box-shadow:inset 0 1px 1px #777, inset 0 -1px 1px #fff;;
}

#popuplogin .label, #popupregister .label{
	display:inline-block;
	vertical-align:middle;
	text-align:left;
	font-weight:400;
	color:#666;
	min-width:100px;
}

#popuplogin_form > div, #popupregister_form > div{
	text-align:center;
}

#popuplogin_form > div + div, #popupregister_form > div + div{
	margin:15px 0 0;
}

#popuplogin_form .result, #popupregister_form .result{
	max-width:220px;
}

#popuplogin .result div, #popupregister .result div{
	font-size:11px;
	text-align:center;
	margin: 10px 0 -5px;
	color:#f00;
}

#popuplogin_form .input input {
    color: #74797f !important;
    font-size: 16px !important;
    font-family: "Helvetica-Light";
    border: 1px solid #c2c2c2 !important;
    padding: 4px 0px 4px 20px !important;
    text-shadow: none !important;
    box-shadow: none !important;
    width: 95% !important;
    position: relative;
    border-radius: 0px !important;
}

#button_login {
    background-color: #ffbe9b !important;
    background-image: none;
    border-radius: 0px;
    box-shadow: none !important;
    border: 0px !important;
    padding-left: 0px !important;
    font-family: "Helvetica-bold";
    color: #fff !important;
    font-size: 14px !important;
    height: 45px;
    max-width: 50%;
    margin: auto !important;
    text-shadow: none;
    width: 100%;
    padding: 12px 14px !important;
}

.forgoten-link {
    color: #8e9194;
    font-family: "Helvetica-light";
    font-size: 16px;
    text-align: center;
    width: 49%;
    display: inline-block;
}

.text-register {
    color: #8e9194;
    font-size: 16px;
    font-family: "Helvetica-light";
    margin-top: 20px;
}


/*#popuplogin input[type='text'], input[type='password'], #popupregister input[type='text'], input[type='password']  {
	width:200px;
	box-sizing:border-box;
	border:solid 1px #ccc;
	padding:4px 10px;
	border-radius:4px;
	background:#fff !important;
	box-shadow: inset 1px 1px 2px #e2e2e2;
}*/

#popuplogin .but, #popupregister .but{
	margin: 19px 0 5px;
	text-align: left;
}

#popuplogin .btn, #popupregister .btn {
	padding:3px 14px 5px;
}

#popuplogin .forgotten, #popupregister .forgotten{
	margin:12px 0 0;
	text-align:left;
	color:#999;
}

#popuplogin .forgotten a, #popupregister .forgotten a {
	padding:0 8px 0 0;
	font-size:11px;
}

#popuplogin .forgotten a + a{
	margin:0 0 0 8px;
	padding:0 !important;
}

.text-register {
    color: #8e9194;
    font-size: 16px;
    font-family: "Helvetica-light";
}

.link-to-register {
    display: block;
    font-size: 16px !important;
    color: #ffbe9b;
    text-decoration: underline;
    margin-top: 5px;
}

#popuplogin .head {
    font-size: 32px;
    line-height: 1;
    color: #1e2327;
    font-family: "Helvetica-bold";
    margin-bottom: 35px;
}


.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: none;
    opacity: 1;
    cursor: pointer;
    position: relative;
    font-size: 32px;
    transform: rotate(45deg);
    text-align: center;
    font-weight: 100;
	top: 9px;
    right: 15px;
    color: #000;
    z-index: 99999999;
    position: absolute;
    font-family: "Helvetica-bold";
}